<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                <b>Basic Information</b>
                    <p>     &bull;  Bachelor of Science (Statistics), Renmin University of China, 17 Jun 2021</p>
                    <p>     &bull;  Honorary Minor Program of Spatial Cloud Data Competitiveness Analyst, 2019-2021</p>
                    <p>     &bull;  Master of Science (Statistics), National University of Singapore, ongoing</p>
                    <p>     &bull;  amateur Erhu player, keen to Traditional Orchestra, love ACG</p>
            </p>
            <p class="paragraph-text justify-text">
                <b>Research</b>
                    <p>     &bull;  <a href="https://github.com/ZhitongXu/smart-supermarket/tree/main">supplement Meituan's new retail ecology with smart supermarket - site selection analysis and single store strategy formulation</a> (team member, 2021.3-2021.5)</p>
                    <p>     &bull;  <a href="https://github.com/ZhitongXu/thesis/blob/main/undergraduate_thesis.pdf">a two-way scientific selection model for tutors and postgraduates based on statistical frontier knowledge map</a> (undergraduate thesis, 2021.3-2021.5)</p>
                    <p>     &bull;  <a href="http://175.24.105.22:8091/home/">knowledge map of keywords in statistical disciplines</a> (team member, 2019.10-now)</p>
                    <p>     &bull;  <a href="https://sql.ruc.edu.cn">online experimental platform of database study</a> (team member, 2019.9-2020.3)</p>
                    <p>     &bull;  <a href="https://mp.weixin.qq.com/s/af7nYVdXJabzmCdAyCKppQ">case studies and thinking of COVID-19 big data complex system</a> (team member, 2020.1-2020.4)</p>
            </p>
            <p class="paragraph-text justify-text">
                <b>TA</b>
                    <p>     &bull;  teaching assistant of <i><a href="https://github.com/ruc-nonpara-statistic/DataScience">An Introduction to Statistical Learning with Applications in R</a></i> (2020 Fall)</p>
            </p>
            <p class="paragraph-text justify-text">
                <b>Internship</b>
                    <p>     &bull;  business analyst intern at AWS (2020.12.7-2021.4.26)</p>
            </p>
        </div>
    </section>
</div>
