<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                **Basic Information**
- undergraduate student majoring in Statistics at Renmin University of China
- participate in the honorary minor program of spatial cloud data competitiveness analyst
- amateur Erhu player, keen to Traditional Orchestra, love ACG
            </p>
            <p class="paragraph-text justify-text">
                **Research**
- <a href="http://175.24.105.22:8091/home/">knowledge map of key words in statistical disciplines</a> (team member, 2019.10-now)
- <a href="https://sql.ruc.edu.cn">online experimental platform of database study</a> (team member, 2019.9-2020.3)
- <a href="https://mp.weixin.qq.com/s/af7nYVdXJabzmCdAyCKppQ">case analysis and thinking of COVID-19 big data complex system</a> (team member, 2020.1-2020.4)
            </p>
            <p class="paragraph-text justify-text">
                **TA**
- teaching assistant of <a href="https://github.com/ruc-nonpara-statistic/DataScience"> *An Introduction to Statistical Learning
with Applications in R* </a> (2020 Fall)
            </p>
            <p class="paragraph-text justify-text">
                **intern**
- Business Analyst Intern at AWS (2020.12.7-now)
            </p>
        </div>
    </section>
</div>
