<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                <b>Basic Information</b>
                    <p>     &bull;  undergraduate student majoring in Statistics at Renmin University of China</p>
                    <p>     &bull;  participate in the honorary minor program of spatial cloud data competitiveness analyst</p>
                    <p>     &bull;  Eamateur Erhu player, keen to Traditional Orchestra, love ACG</p>
            </p>
            <p class="paragraph-text justify-text">
                <b>Research</b>
                    <p>     &bull;  <a href="http://175.24.105.22:8091/home/">knowledge map of keywords in statistical disciplines</a> (team member, 2019.10-now)</p>
                    <p>     &bull;  <a href="https://sql.ruc.edu.cn">online experimental platform of database study</a> (team member, 2019.9-2020.3)</p>
                    <p>     &bull;  <a href="https://mp.weixin.qq.com/s/af7nYVdXJabzmCdAyCKppQ">case analysis and thinking of COVID-19 big data complex system</a> (team member, 2020.1-2020.4)</p>
            </p>
            <p class="paragraph-text justify-text">
                <b>TA</b>
                    <p>     &bull;  teaching assistant of <a href="https://github.com/ruc-nonpara-statistic/DataScience"> *An Introduction to Statistical Learning with Applications in R* </a> (2020 Fall)</p>
            </p>
            <p class="paragraph-text justify-text">
                <b>Intern</b>
                    <p>     &bull;  Business Analyst Intern at AWS (2020.12.7-now)</p>
            </p>
        </div>
    </section>
</div>
